<div class="container">
  <h5>{{ob.id_obra}}</h5>
  <h5>{{ob.descricao}}</h5>
  <h6>Data Inicio {{ob.dataInicio | date:"dd 'd'e MMMM 'd'e yyyy"}}</h6>
  <h6>Data do Fim Previsto {{ob.dataFim | date:"dd 'd'e MMMM 'd'e yyyy"}}</h6>
  <h6>Status: {{ob.status}}</h6>
  <h6>Empresa: {{ob.empresa}}</h6>
  <h6>Percentual Executado: {{ob.percentual_executado}}%</h6>
  <h6>Municipio: {{ob.municipio}}</h6>
  <h6>Valor: R${{ob.valor | currency}}</h6>
  <
  <div class="row">
    <div class="col s6 m3 l2"><a (click)="bom()"><i class="material-icons">thumb_up</i>Gostei {{ob.bom.length}}</a></div>
    <div class="col s6 m3 l2"><a (click)="ruim()"><i class="material-icons">thumb_down</i>Não Gostei {{ob.ruim.length}}</a></div>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m8 l8">
          <i class="material-icons prefix">textsms</i>
          <textarea id="textarea1" class="materialize-textarea" [(ngModel)]="post" [ngModelOptions]="{standalone: true}"></textarea>
          <label for="textarea1">Post</label>
        </div>
        <div>
          <button class="btn btn-floating" (click)="comentar()"><i class="material-icons">send</i></button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="card" *ngFor="let item of ob.comentarios">
      <div class="card-content">
        <p><b>{{item.user.nome}}</b></p>
        <p>{{item.texto}}</p>
        <p>{{item.data | date:"dd 'd'e MMMM 'd'e yyyy"}}</p>
      </div>
    </div>
  </div>
</div>
