<div class="container">
  <h4>Lista Obras</h4>
  <div class="row">
    <div class="col s12 m12 l8">

    <div class="col s12 m12 l12 offset-s3 valign" *ngFor="let ob of lista">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ob.id_obra}}</span>
          <p class="grey-text text-darken-1">
            {{ob.descricao}}
          </p>
        </div>
        <div class="card-action">
          <p class="grey-text text-darken-1">
            Gostaram: {{ob.bom.length}}, Não Gostaram: {{ob.ruim.length}}
            <br>Status: {{ob.status}}
            <br> Data Inicio: {{ob.dataInicio | date:"dd 'd'e MMMM 'd'e yyyy"}}
          </p>
          <a class="btn-floating btn-large waves-effect waves-light green darken-2" (click)="detalhes(ob)"><i class="material-icons">touch_app</i></a>
        </div>
      </div>
    </div>
    </div>
    <div class="col s12 m12 l4" >
      <h5 class="col s12">Ranking <i class="material-icons">thumb_up</i></h5>
      <div *ngFor="let item of rankingBom">
        <p>{{item.descricao}}</p>
      </div>
    </div>

    <div class="col s12 m12 l4" >
      <h5 class="col s12">Ranking <i class="material-icons">thumb_down</i></h5>
      <div class="card" *ngFor="let item of rankingRuim">
        <div class="card-content">
          {{item.descricao}}
        </div>
      </div>
    </div>
  </div>
</div>
